ul
  li
    a(href='/')
      i.fa.fa-bolt.fa-fw
      span Home
  li
    a(href='/about')
      i.fa.fa-bullhorn.fa-fw
      span About
  li
    a(href='/faq')
      i.fa.fa-compass.fa-fw
      span Faq
  li
    a(href='/aliens')
      i.fa.fa-snapchat-ghost.fa-fw
      span Aliens
  li
    a(href='/aliens/new')
      i.fa.fa-cog.fa-fw
      span New
